<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>804734111380-r0kq5tleld3o9vbbr3kfmctksi0eddtp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804734111380-r0kq5tleld3o9vbbr3kfmctksi0eddtp</string>
	<key>API_KEY</key>
	<string>AIzaSyAvewJqqAme707A27ThtJ343MBnZhch8Zs</string>
	<key>GCM_SENDER_ID</key>
	<string>804734111380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.monash.Assignment3b</string>
	<key>PROJECT_ID</key>
	<string>assignment3-9c720</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment3-9c720.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:804734111380:ios:ec346ea708e5a802e36e81</string>
	<key>DATABASE_URL</key>
	<string>https://assignment3-9c720.firebaseio.com</string>
</dict>
</plist>